<div class="first"></div>
<div class="header">
        <div class="welcome">
            <br><br>
                <h1>¡Bienvenido!</h1>
                <p>En esta página podrá tanto subir archivos, así como recuperarlos desde nuestro servidor.</p>
        </div>
</div>

<div class="main">
        <div class="image1">
                <img src="http://www.escom.ipn.mx/images/logoESCOM2x.png" alt="">
        </div>
        <div class="actions">
            <app-import-files></app-import-files>
            <br><br><br>
            <input type="button" value="Recuperar archivo" class="normal-primaryButton btn" matTooltipClass="primary-tooltip" (click)="getFile()">
        </div>
</div>
<div class="topology">
    <img src="https://firebasestorage.googleapis.com/v0/b/prueba-77144.appspot.com/o/top.png?alt=media&token=e53d585b-4ca3-41be-b1f6-bdd60f996e93" alt="">
</div>
